body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

header, section, footer {
    border: 1px solid black;
    text-align: center;
}

header {
    background-color: #e2b797;
    padding: 20px;
}

section {
    background-color: #f8d7b9;
    height: 500px;
    text-align: left;  
    padding-left: 20px; 
}

footer {
    background-color: #e2b797;
    padding: 20px;
}
